# **crawler 2**

* 07_pr_find_all

In [1]:
from bs4 import BeautifulSoup

In [2]:
html = """
     <html>
        <table>
          <tr>
              <td class='first'>100</td>
              <td>200</td>
          </tr>
          <tr>
              <td>300</td>
              <td>400</td>
          </tr>
        </table>
     </html>
"""

bs_obj = BeautifulSoup(html, "html.parser")
print(bs_obj)

<html>
<table>
<tr>
<td class="first">100</td>
<td>200</td>
</tr>
<tr>
<td>300</td>
<td>400</td>
</tr>
</table>
</html>

In [4]:
# 100
td_first = bs_obj.find("td", {"class":"first"})
print(td_first.text)

100

In [7]:
# 200
td_second = bs_obj.find("td")
print(td_second)

<td class="first">100</td>

In [13]:
table = bs_obj.find("table")
tr = table.find("tr")
tds = tr.findAll("td") # list [ , , ]
print(tds)
print(tds[0])
print(tds[1])

[<td class="first">100</td>, <td>200</td>]
<td class="first">100</td>
<td>200</td>

* 08_pr_find_all_300

In [28]:
# 300
trs = table.findAll("tr")
print(trs)
print(trs[0])
print(trs[1])

[<tr>
<td class="first">100</td>
<td>200</td>
</tr>, <tr>
<td>300</td>
<td>400</td>
</tr>]
<tr>
<td class="first">100</td>
<td>200</td>
</tr>
<tr>
<td>300</td>
<td>400</td>
</tr>

In [22]:
trs = table.findAll("tr")
second_tr = trs[1]
td_300 = second_tr.find("td")
print(td_300.text)

300

In [25]:
# 400
second_tr_tds = second_tr.findAll("td")
td_400 = second_tr_tds[1]
print(second_tr_tds)
print(td_400.text)

[<td>300</td>, <td>400</td>]
400

In [26]:
# final output

# 100
td_first = bs_obj.find("td", {"class":"first"})
print(td_first.text)

# 200
table = bs_obj.find("table")
tr = table.find("tr")
tds = tr.findAll("td")
print(tds[1].text)

trs = table.findAll("tr")
second_tr = trs[1]

# 300
td_300 = second_tr.find("td")
print(td_300.text)

# 400
second_tr_tds = second_tr.findAll("td")
td_400 = second_tr_tds[1]
print(td_400.text)

100
200
300
400

## **references**

https://www.youtube.com/watch?v=4z8UkZbpHuc&list=PLAdQRRy4vtQRzdg7D9n1rkDp9DIeWpBQ9&index=24